{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>分销兑换记录</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/common.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/exchange_history.css' %}"/>
    <link rel="icon" href="{% static 'images/favicon.ico' %}"/>
</head>
<body>
<div class="page flex-col">
    <div class="content flex-col">
        <div class="box_header flex-row">
            <div class="group_total flex-col">
                <span class="text_3">收益总额&nbsp;(元)</span>
                <span class="text_4">{{ total_cash }}</span>
            </div>
            <img class="image_2" referrerpolicy="no-referrer" src="{% static 'images/cash_line.png' %}"/>
            <div class="group_completed flex-col">
                <span class="text_5">已提现&nbsp;(元)</span>
                <span class="text_6">{{ completed_cash }}</span>
            </div>
            <img class="image_2" referrerpolicy="no-referrer" src="{% static 'images/cash_line.png' %}"/>
            <div class="group_pending flex-col">
                <span class="text_7">待提现&nbsp;(元)</span>
                <span class="text_8">{{ pending_cash }}</span>
            </div>
        </div>
        <div class="list flex-col">
            {% for item in exchange_lists %}
                <a style="text-decoration: none" href="{% url 'redemption_detail' redemption_id=item.id %}">
                <div class="list-items flex-row justify-between">
                    <div class="text-group_9-0 flex-col">
                        <span class="text_9-0">分销奖励&nbsp;+{{ item.cash }}&nbsp;元</span>
                        <span class="text_10-0">{{ item.created_at }}</span>
                    </div>

                    <div class="image-text_2-0 flex-row justify-between">
                        {% if item.status == 'completed' %}
                            <span class="completed_text">已提现</span>
                        {% elif item.status == 'processing' %}
                            <span class="processing_text">提现中</span>
                        {% else %}
                            <span class="pending_text">未提现</span>
                        {% endif %}
                        <img class="thumbnail_1-0" referrerpolicy="no-referrer" src="{% static 'images/right_arrow_cash.png' %}"/>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
        <span class="text_11">没有更多了~</span>
    </div>
</div>
</body>
</html>
