.image_1 {
    width: 375px;
    height: 87px;
}

.block_1 {
    background-color: rgba(247, 247, 247, 1);
    position: relative;
    max-width: 450px;
    width: 100%;
    margin-top: 86px;
}

.box_1 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    height: 150px;
    margin: 128px 12px 0 12px;
}

.group_6 {
    height: 22px;
    margin: 12px 12px 0 12px;
}

.text_1 {
    width: 48px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: justify;
    white-space: nowrap;
    line-height: 22px;
}

.image-text_4 {
    width: 67px;
    height: 20px;
    margin-top: 1px;
}

.text-group_1 {
    width: 56px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 20px;
}

.thumbnail_1 {
    width: 6px;
    height: 10px;
    margin-top: 5px;
}

.box_redeem_input {
    height: 40px;
    margin: 12px 12px 0 12px;
    justify-content: space-between;
    flex: 0 0 calc(25% - 10px);
}

.redeem_input {
    background-color: rgba(247, 247, 247, 1);
    border-radius: 4px;
    height: 40px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    color: rgba(51, 51, 51, 1);
    width: 70px;
}

.text_2 {
    width: 49px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 22px;
    margin: 9px 0 0 10px;
}

.redeem_dash {
    background-color: rgba(153, 153, 153, 1);
    width: 8px;
    height: 2px;
    margin: 20px 0 0 0;
}

.text-wrapper_2 {
    background-color: rgba(247, 247, 247, 1);
    border-radius: 4px;
    height: 40px;
    margin-left: 5px;
    width: 70px;
}

.text_3 {
    width: 43px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 22px;
    margin: 9px 0 0 13px;
}

.box_3 {
    background-color: rgba(153, 153, 153, 1);
    width: 6px;
    height: 1px;
    margin: 20px 0 0 4px;
}

.text-wrapper_3 {
    background-color: rgba(247, 247, 247, 1);
    border-radius: 4px;
    height: 40px;
    margin-left: 5px;
    width: 70px;
}

.text_4 {
    width: 39px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 22px;
    margin: 9px 0 0 16px;
}

.box_4 {
    background-color: rgba(153, 153, 153, 1);
    width: 6px;
    height: 1px;
    margin: 20px 0 0 5px;
}

.text-wrapper_4 {
    background-color: rgba(247, 247, 247, 1);
    border-radius: 4px;
    height: 40px;
    margin-left: 5px;
    width: 70px;
}

.text_5 {
    width: 46px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 22px;
    margin: 9px 0 0 12px;
}

.button_redeem {
    background-color: rgba(213, 48, 47, 1);
    border-radius: 21px;
    height: 40px;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    margin: 12px 12px 12px 12px;
}

.text_6 {
    height: 21px;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 21px;
}

.button_disabled {
    background-color: #f7f7fb;
}

.box_series {
    min-height: 436px;
    background: url('/assets/images/background.png') 100% no-repeat;
    background-size: 100% 100%;
    margin: 12px 12px 12px 12px;
}

.box_series_header {
    width: 64px;
    height: 22px;
    margin: 12px 0 0 12px;
}

.box_series_title {
    width: 64px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(51, 56, 64, 1);
    font-size: 16px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: justify;
    white-space: nowrap;
    line-height: 22px;
}

.box_prize_list {
    display: flex;
    flex-wrap: wrap;
    margin: 12px 12px 0 12px;
    justify-content: space-between;
}

.box_prize {
    flex: 0 0 calc(33.33% - 10px);
    width: 30%;
    margin-bottom: 10px;
}

.prize_image {
    border-radius: 4px;
}

.prize_title {
    width: 75px;
    height: 21px;
    overflow-wrap: break-word;
    color: rgba(51, 56, 64, 1);
    font-size: 15px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 21px;
    margin-top: 10px;
}

.prize_view {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 21px;
    margin-top: 5px;
    height: 24px;
    border: 1px solid rgba(213, 48, 47, 1);
    width: 70px;
}

.text_review {
    width: 48px;
    height: 18px;
    overflow-wrap: break-word;
    color: rgba(213, 48, 47, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 18px;
    margin: 1px 0 0 10px;
}

.group_8 {
    width: 105px;
    height: 133px;
    margin-left: 9px;
}

.box_8 {
    border-radius: 4px;
    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/f24dd8c3b0c14b5ebf08d5eb1369c58d_mergeImage.png);
    width: 102px;
    height: 102px;
    margin-left: 3px;
}

.text_8 {
    width: 75px;
    height: 21px;
    overflow-wrap: break-word;
    color: rgba(51, 56, 64, 1);
    font-size: 15px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 21px;
    margin-top: 10px;
}

.group_9 {
    width: 102px;
    height: 133px;
    margin-left: 13px;
}

.box_10 {
    border-radius: 4px;
    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/44934d7eaa7642a5961866306e9f5d89_mergeImage.png);
    width: 102px;
    height: 102px;
}

.text_9 {
    width: 75px;
    height: 21px;
    overflow-wrap: break-word;
    color: rgba(51, 56, 64, 1);
    font-size: 15px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 21px;
    margin-top: 10px;
}

.box_16 {
    width: 299px;
    height: 24px;
    margin: 6px 0 0 12px;
}

.text-wrapper_8 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 21px;
    height: 24px;
    border: 1px solid rgba(213, 48, 47, 1);
    margin-left: 44px;
    width: 70px;
}

.text_11 {
    width: 48px;
    height: 17px;
    overflow-wrap: break-word;
    color: rgba(213, 48, 47, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 17px;
    margin: 3px 0 0 11px;
}

.text-wrapper_9 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 21px;
    height: 24px;
    border: 1px solid rgba(213, 48, 47, 1);
    margin-left: 45px;
    width: 70px;
}

.text_12 {
    width: 48px;
    height: 17px;
    overflow-wrap: break-word;
    color: rgba(213, 48, 47, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 17px;
    margin: 3px 0 0 11px;
}

.box_17 {
    width: 331px;
    height: 102px;
    margin: 12px 0 0 12px;
}

.group_3 {
    border-radius: 4px;
    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/d3ee293c9acf4e5e9e6606749e5387d1_mergeImage.png);
    width: 102px;
    height: 102px;
}

.group_4 {
    border-radius: 4px;
    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/3eac9831cf104ba4baaf7cbdabd6672d_mergeImage.png);
    width: 102px;
    height: 102px;
    margin-left: 12px;
}

.group_5 {
    border-radius: 4px;
    background-image: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/2828182d914a45928525cbaa9c79077b_mergeImage.png);
    width: 102px;
    height: 102px;
    margin-left: 13px;
}

.text-wrapper_17 {
    width: 304px;
    height: 21px;
    margin: 10px 0 0 12px;
}

.text_13 {
    width: 75px;
    height: 21px;
    overflow-wrap: break-word;
    color: rgba(51, 56, 64, 1);
    font-size: 15px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 21px;
}

.text_14 {
    width: 75px;
    height: 21px;
    overflow-wrap: break-word;
    color: rgba(51, 56, 64, 1);
    font-size: 15px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 21px;
    margin-left: 36px;
}

.text_15 {
    width: 75px;
    height: 21px;
    overflow-wrap: break-word;
    color: rgba(51, 56, 64, 1);
    font-size: 15px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 21px;
    margin-left: 43px;
}

.box_18 {
    width: 299px;
    height: 24px;
    margin: 6px 0 0 12px;
}

.text-wrapper_11 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 21px;
    height: 24px;
    border: 1px solid rgba(213, 48, 47, 1);
    width: 70px;
}

.text_16 {
    width: 48px;
    height: 17px;
    overflow-wrap: break-word;
    color: rgba(213, 48, 47, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 17px;
    margin: 3px 0 0 11px;
}

.text-wrapper_12 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 21px;
    height: 30px;
    border: 1px solid rgba(213, 48, 47, 1);
    width: 60px;
    margin: 15px 12px 0 0;

    a {
        text-decoration: none;
    }
}

.text_17 {
    width: 28px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(213, 48, 47, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 20px;
    margin: 5px 0 0 16px;
}

.text-wrapper_13 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 21px;
    height: 24px;
    border: 1px solid rgba(213, 48, 47, 1);
    margin-left: 45px;
    width: 70px;
}

.text_18 {
    width: 48px;
    height: 17px;
    overflow-wrap: break-word;
    color: rgba(213, 48, 47, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 17px;
    margin: 3px 0 0 11px;
}

.text-wrapper_18 {
    width: 77px;
    height: 20px;
    margin: 20px 0 12px 139px;
}

.text_19 {
    width: 77px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(153, 153, 153, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 20px;
}

.box_user {
    background-image: url('/assets/images/header_banner.png');
    position: absolute;
    background-size: cover;
    left: 0;
    top: -86px;
    width: 100%;
    height: 200px;
}

.section_2 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    height: 60px;
    margin: 147px 12px 4px 12px;
}

.image-text_6 {
    width: 197px;
    height: 36px;
    margin: 12px 0 0 12px;
}

.label_2 {
    width: 36px;
    height: 36px;
}

.text-group_3 {
    width: 151px;
    height: 22px;
    overflow-wrap: break-word;
    color: rgba(51, 56, 64, 1);
    font-size: 16px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: justify;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 7px;
}

.text-wrapper_15 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 21px;
    height: 30px;
    border: 1px solid rgba(213, 48, 47, 1);
    width: 80px;
    margin: 15px 12px 0 0;

    a {
        text-decoration: none;
    }
}

.text_20 {
    width: 56px;
    height: 20px;
    overflow-wrap: break-word;
    color: rgba(213, 48, 47, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 20px;
    margin: 5px 0 0 12px;
}

.text_21 {
    position: absolute;
    left: 23px;
    top: 57px;
    width: 170px;
    height: 41px;
    overflow-wrap: break-word;
    color: rgba(51, 56, 64, 1);
    font-size: 34px;
    font-family: AlimamaShuHeiTi-Bold, serif;
    font-weight: 700;
    text-align: justify;
    white-space: nowrap;
    line-height: 41px;
}

/* 遮罩层 */
.overlay {
    /*display: none; !* 初始隐藏 *!*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*max-width: 450px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(0, 0, 0, 0.8); !* 半透明背景 *!*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*z-index: 1000;*/
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 450px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.overlay-content {
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    max-width: 450px;
    width: 100%;
    max-height: 80vh; /* 最大高度为视口的80% */
    overflow: hidden; /* 隐藏溢出内容 */
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
    float: right;
    padding-right: 20px;
}

.close-btn:hover {
    color: #ff0000;
}

#series-title {
    margin-top: 0;
}

/* 奖品容器 */
.prize-container {
    display: flex;
    width: 100%;
    cursor: pointer;
    overflow-x: auto; /* 横向滚动 */
    white-space: nowrap; /* 防止换行 */
    min-height: 500px;
    margin-top: 20px;
}

/* 奖品列表 */
.prize-list {
    display: inline-flex; /* 横向排列 */
    gap: 20px; /* 奖品之间的间距 */
    padding: 25px;
}

/* 奖品卡片 */
.prize-item {
    display: inline-block;
    width: calc(100vw - 45px);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.prize-item .logo {
    background-color: #f6f5f8;
    padding: 10px;
}

.prize-item .logo img {
    max-width: 100%; /* 图片最大宽度为父容器的宽度 */
    height: auto; /* 高度自动调整，保持图片比例 */
}

.prize-item .pirze_name {
    overflow-wrap: break-word;
    color: rgba(51, 56, 64, 1);
    font-size: 16px;
    font-weight: 600;
    text-align: justify;
    white-space: nowrap;
    line-height: 60px;
}

.prize-item .prize_info {
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 40px;
}


/* 通知容器 */
.notification {
    position: fixed;
    top: 200px;
    left: -250px;
    color: white; /* 文字颜色 */
    padding: 1px 30px;
    border-radius: 5px;
    text-align: center;
    min-width: 180px;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 1.5s ease; /* 动画效果 */
}

/* 显示通知 */
.notification.show {
    left: 80px;
    text-align: center;
    opacity: 1;
}

.notification.success {
    background-color: #4CAF50;
}

.notification.warning {
    background-color: #e8962e;
}

.notification.error {
    background-color: #AA3130;
}

/*兑换说明*/
.overlay_description {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 450px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.box_description {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    padding-bottom: 12px;
    margin-top: 100vh;
}

.box_description_header {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 44px;
}

.box_description_close {
    width: 14px;
    height: 14px;
    margin: 15px 0 0 12px;
}

.box_description_title {
    width: calc(100% - 14px);
    height: 30px;
    overflow-wrap: break-word;
    color: rgba(51, 56, 64, 1);
    font-size: 20px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    line-height: 22px;
    padding-top: 10px;
}

.box_description_line {
    width: 100%;
    height: 1px;
}

.box_description_content {
    width: 100%;
    overflow-wrap: break-word;
    font-size: 13px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: justify;
    line-height: 18px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 12px 0 12px 0;
}

/*兑换说明*/
.overlay_login {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 450px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.login-form {
    height: 256px;
}

.login_phone_group {
    width: 100%;
    height: 21px;
    margin: 26px 0 0 19px;
}

.region_code {
    width: 40px;
    height: 21px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 15px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    line-height: 21px;
}

.text_input {
    border: none;
    outline: none;
    width: 230px;
    height: 25px;
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 21px;
}

.text_11 {
    width: 105px;
    height: 21px;
    overflow-wrap: break-word;
    color: rgba(153, 153, 153, 1);
    font-size: 15px;
    font-weight: normal;
    text-align: justify;
    white-space: nowrap;
    line-height: 21px;
}

.login_form_line {
    height: 1px;
    margin: 9px 0 0 20px;
    width: calc(100% - 40px);
}

.login_code_group {
    width: 100%;
    height: 21px;
    margin: 20px 0 0 20px;
}

.captcha {
    width: 150px;
    margin-left: 40px;
}

.get_captcha {
    width: calc(100% - 235px);
    height: 21px;
    overflow-wrap: break-word;
    font-size: 16px;
    color: rgba(213, 48, 47, 1);
    font-weight: normal;
    text-align: right;
    white-space: nowrap;
    line-height: 21px;
}

.login_submit {
    background-color: rgba(213, 48, 47, 1);
    border-radius: 21px;
    max-width: 450px;
    height: 40px;
    font-size: 20px;
    margin: 16px 20px;
    display: flex;
    color: #FFFFFF;
    width: calc(100% - 40px);
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.error-message {
    position: fixed;
    bottom: 315px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E65100;
    color: white;
    text-align: center;
    max-width: 450px;
    width: 85%;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
}
