.box_product {
    background-color: rgba(240, 243, 248, 1);
    position: relative;
}

.image_product {
    width: 100%;
}

.section_info {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

.points_wrapper {
    width: 57px;
    height: 28px;
    overflow-wrap: break-word;
    font-size: 0;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
    margin-right: 137px;
}

.points_value {
    overflow-wrap: break-word;
    color: rgba(239, 65, 36, 1);
    font-size: 20px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

.points_name {
    overflow-wrap: break-word;
    color: rgba(239, 65, 36, 1);
    font-size: 12px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    line-height: 28px;
}

.product_name {
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
    margin-top: 3px;
}

.product_stock {
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    line-height: 17px;
}

.section_detail {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 70px;
    img {
        width: 100% !important; /* 强制覆盖其他样式 */
        height: auto; /* 保持宽高比 */
    }
}

.detail_title {
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
}

.block_redeem {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 10px 0 10px;
    z-index: 1000;
}

.redeem_wrapper {
    background-color: rgba(239, 75, 48, 1);
    border-radius: 21px;
    height: 40px;
    margin: 10px 0;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.redeem_text {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular, serif;
    font-weight: 600;
    text-align: justify;
    white-space: nowrap;
    line-height: 21px;
}

.overlay_redemption {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 450px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.box_redemption {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    margin-top: 100vh;
}

.redemption_content {
    background-color: rgba(240, 243, 248, 1);
    padding-top: 1px;
    min-width: 300px;
}

/* 通知容器 */
.redemption_message {
    position: fixed;
    top: calc(100vh - 450px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #da8342;
    color: white;
    text-align: center;
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.redemption_message.success {
    background-color: #4CAF50;
}

.redemption_message.warning {
    background-color: #e8962e;
}

.redemption_message.error {
    background-color: #AA3130;
}

.box_description_header {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 44px;
}

.box_description_close {
    width: 14px;
    height: 14px;
    margin: 15px 0 0 12px;
}

.box_description_title {
    width: calc(100% - 7px);
    height: 30px;
    overflow-wrap: break-word;
    color: rgba(51, 56, 64, 1);
    font-size: 20px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    line-height: 22px;
    padding-top: 10px;
    padding-right: 40px;
}

.box_description_line {
    width: 100%;
    height: 1px;
}

.section_harvest {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

.harvest_full {
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
}

.harvest_name_mobile {
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin: 2px 156px 0 0;
}

.harvest_thumbnail {
  width: 6px;
  height: 10px;
  margin: 6px 10px 28px 0;
}

.section_submit {
    background-color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    padding: 10px;
}

.redemption_submit {
    background-color: rgba(239, 75, 48, 1);
    border-radius: 21px;
    max-width: 450px;
    height: 40px;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    color: #FFFFFF;
    width: 100%;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.section_product {
    background-color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    padding: 10px;
}

.product_thumb_wrapper {
    background-color: rgba(247, 247, 247, 1);
    border-radius: 8px;
    padding: 3px 4px 3px 5px;
}

.product_thumb_img {
    width: 55px;
    height: 55px;
}

.box_points {
    margin-left: 12px;
}

.box_points_content {
    height: 28px;
    overflow-wrap: break-word;
    font-size: 0;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    line-height: 17px;
    margin-right: 1px;
}

.points_spec {
    height: 28px;
    overflow-wrap: break-word;
    color: rgba(239, 65, 36, 1);
    font-size: 12px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    line-height: 17px;
}

.points_spec_value {
    height: 28px;
    overflow-wrap: break-word;
    color: rgba(239, 65, 36, 1);
    font-size: 20px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    position: relative;
    white-space: nowrap;
    top: 2px;
    line-height: 30px;
    padding-left: 5px;
}

.box_amount {
    background-color: rgba(240, 243, 248, 1);
    border-radius: 4px;
    position: relative;
    width: 83px;
    margin-top: 6px;
    padding-left: 9px;
}

.spec_amount {
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 12px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
    margin: 5px 0 0 10px;
}

.thumbnail_left {
    width: 1px;
    height: 12px;
    margin: 8px 0 6px 0;
}

.thumbnail_right {
    width: 1px;
    height: 12px;
    margin: 8px 0 6px 13px;
}

.button_wrapper {
    background-color: rgba(240, 243, 248, 1);
    border-radius: 4px;
    width: 25px;
    padding: 4px 9px 5px 5px;
}

.button_text {
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular, serif;
    font-weight: bolder;
    text-align: center;
    white-space: nowrap;
    line-height: 17px;
}

.spec_stock {
    overflow-wrap: break-word;
    color: rgba(102, 102, 102, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    line-height: 17px;
    position: absolute;
    right: 10px;
}

.spec_title {
    margin: 20px 300px 0 0;
}

.spec_title_text {
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 12px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.box_specs {
    margin-top: 10px;
}

.section_specs {
    width: 100%;
    gap: 6px;
}

.spec_item {
    background-color: rgba(240, 243, 248, 1);
    border-radius: 13px;
    padding: 4px 13px 5px 13px;
    margin-right: 8px;
}

.spec_name {
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 12px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 17px;
}

.spec_item:hover {
    background-color: rgba(239, 65, 36, 0.15);
    .spec_name {
        color: rgba(239, 65, 36, 1);
    }
}

.active {
    background-color: rgba(239, 65, 36, 0.15);
    .spec_name {
        color: rgba(239, 65, 36, 1);
    }
}

.box_harvests {
    min-height: 310px;
}

.address_item {
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 3px;
    transition: background-color 0.3s ease;
}

.address_item:hover {
    background-color: rgba(239, 75, 48, 0.15);

    .address_full, .address_user {
        color: rgba(239, 75, 48, 1);
    }
}

.address_group {
    width: 100%;
    padding: 10px 14px 10px 10px;
}

.address_full {
    overflow-wrap: break-word;
    font-size: 16px;
    font-family: PingFangSC-Semibold, serif;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    line-height: 22px;
}

.address_user {
    overflow-wrap: break-word;
    font-size: 14px;
    font-family: PingFangSC-Regular, serif;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
    margin: 2px 156px 0 0;
}